RPC_MAINNET=https://eth-mainnet.alchemyapi.io/v2/<ALCHEMY_KEY>
RPC_MUMBAI=
RPC_POLYGON=

ETHERSCAN_KEY=<ETHERSCAN_KEY>
POLYSCAN_KEY=<POLYSCAN_KEY>

MAINNET_PRIVATE_KEY=<MAINNET_PRIVATE_KEY>
DEV_PRIVATE_KEY=<DEV_PRIVATE_KEY>

# Generate via the `anvil` command if desired
ANVIL_PRIVATE_KEY=